#navbar {
    background-color: #ccc;
    padding: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

#navbar li {
    margin-right: 10px;
    border-right: 1px solid #999;
    padding: 5px 10px;
}

#navbar li:last-child {
    border-right: none;
}

#navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
